@font-face {
  font-family: 'Cafe24Ssurround';
  font-display: fallback;

  src: url('./Cafe24Ssurround.ttf') format('truetype'),
    url('./Cafe24Ssurround.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothicB';
  font-display: fallback;

  src: url('./GothicB.ttf') format('truetype'),
    url('./GothicB.woff') format('woff');
}

@font-face {
  font-family: 'gothicL';
  font-display: fallback;

  src: url('./GothicL.ttf') format('truetype'),
    url('./GothicL.woff') format('woff');
}

@font-face {
  font-family: 'gothicM';
  font-display: fallback;

  src: url('./GothicM.ttf') format('truetype'),
    url('./GothicM.woff') format('woff');
}

@font-face {
  font-family: 'gothicH';
  font-display: fallback;

  src: url('./GothicH.ttf') format('truetype'),
    url('./GothicH.woff') format('woff');
}
@font-face {
  font-family: 'gothicEB';
  font-display: fallback;

  src: url('./GothicEB.ttf') format('truetype'),
    url('./GothicEB.woff') format('woff');
}
